@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    src: local('Montserrat Variable Font'), local('Montserrat-VariableFont_wght'), url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    src: local('Inter Variable Font'), local('Inter-VariableFont_slnt,wght'), url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  }
  